#target
#*iml
#spooned
#/.idea/
#/code2vec/.idea/
#/code2vec/CSharpExtractor/
#/code2vec/images/
#/.github/
#/${project.build.directory}/
#/scripts/
#/Resources/
#*.md
#*.log
#*/GA_results.txt
#/code2vec/eval_log.txt
#/code2vec/F1_score_log.txt
#/code2vec/predicted_words.txt
#/code2vec/results.txt
