**./.idea/**
**./${project.build.directory}/**
*.tar.gz
**/venv/**
*.tar.gz
**/log.txt
**/__pycache__/**
**/eval_log.txt
**/F1_score.txt
**.docx
**.stackdump
**.dll
.idea/**
Results/*
${project.build.directory}/*
target/*
*log
scripts/.idea
GA_results.txt